<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <ul>
        <li><a href=""> <i class="fa fa-home fa-fw"></i> Home</a></li>
        <li><a href=""> <i class="fa fa-user fa-fw"></i> Mi perfil</a></li>
        <li><a href=""> <i class="fa fa-cog fa-fw"></i> Ajustes</a></li>
        <li><a href=""> <i class="fa fa-book fa-fw"></i> Acerda de</a></li>

    </ul>

</body>
</html>
<!--prototipo barra de navegación!-->